@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');
:root {
    --lilaOscuro: #10002b;
    --lila: #3c096c;
    --lilaClaro: #7b2cbf;
    --ligth: #f2f2f2; 
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body {
    background-color: var(--lilaClaro);
    font-family: 'M PLUS 1p', sans-serif;
}
/* ------- header ------- */
.header{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: var(--lilaOscuro);
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
    position: fixed;
    z-index: 999;
}
.logo-nav{
    height: 3rem;
    width: 8rem;
}
.nav-logo{
    height: 3rem;
    width: 10rem;
}
.nav {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: .8rem;
}
li .nav-link {
    color: var(--ligth);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .1px;
    padding: .3rem .5rem;
    margin: 0 .2rem;
    border-radius: 2px;
    
}
li .nav-link:hover {
    color: var(--lilaClaro);
}
/* Estilos para el fondo oscuro del modal */
.custom-modal {
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el color y la opacidad */
}

.inicioSesion{
    font-size: 1rem;
    font-weight: 500;
    border: none;
    letter-spacing: .1px;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--ligth);
    color: var(--lilaClaro);
    padding: .2rem;
}
.inicioSesion:hover {
    color: var(--ligth);
    background-color:  var(--lilaClaro);
    transition: all 0.5s;
}
#inicio {
    height: 45rem;
    width: 100%;
}
 .paragraph-descripcion {
    text-align: center;
    color: var(--ligth);
    font-weight: 400;
    background-color: var(--lila);
    padding: 2rem;
    border-radius: 20px;
 }
 .btn-buscar {
    height: 3rem;
    width: 6rem;
    color: var(--ligth);
    background-color: var(--lila);
    border: none;
    border-radius: 5px;
 }
 .btn-buscar:hover {
    background-color: var(--lilaOscuro);
 }
 .logo {
    display: flex;
    justify-content: center;
 }
 .img-logo {
    filter: drop-shadow(2px 20px 5px  rgba(28, 0, 65, 0.95) );
    margin: 5rem 0 1rem 0;
 }
 .title-list {
    color: var(--ligth);
    font-weight: 100;
    text-align: center;
    margin: 3rem 0;
 }
/* ------- section personajes ------ */
#personajes {
    height: 150rem;
    width: 100%;
    padding: 6rem;
}
.title-personajes {
    font-weight: 400;
    color: var(--ligth);
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: underline;
}
.card{
    background-color: var(--ligth);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
}
.footer {
    height: 6rem;
    width: 100%;
    background-color: var(--lilaOscuro);
    color: var(--ligth);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer ul li {
    list-style: none;
}

.linea-footer {
    height: 1px;
    width: 100%;
    background-color: var(--ligth);
    margin-top: 1rem;

}
.redes a{
    text-decoration: none;
    font-size: 1.5rem;
}