* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body {
    background-color: rgb(96, 59, 145);
}
.header{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: rgb(28, 0, 65);
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
    position: fixed;
    z-index: 999;
}
.logo-nav{
    height: 3rem;
    width: 8rem;
}
.nav-logo{
    height: 3rem;
    width: 10rem;
}
.nav {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: .8rem;
}
li .nav-link {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
/* Estilos para el fondo oscuro del modal */
.custom-modal {
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el color y la opacidad */
}
#inicio {
    height: 70rem;
    width: 100%;
}
.title-personajes {
    text-align: center;
    margin-bottom: 2rem;
}
 .paragraph-descripcion {
    text-align: center;
    color: white;
    font-weight: 600;
    background-color: rgb(28, 0, 65);
    padding: 2rem;
    border-radius: 20px;
 }
 .btn-buscar {
    height: 3rem;
    width: 6rem;
    color: white;
    background-color: rgb(28, 0, 65);
    border: none;
    border-radius: 5px;
 }
 .logo {
    display: flex;
    justify-content: center;
 }
 .img-logo {
    filter: drop-shadow(2px 20px 5px  rgba(28, 0, 65, 0.95) );
    margin: 5rem 0 1rem 0;
 }
 .title-list {
    text-align: center;
    margin: 3rem 0;
 }
.container-btn_refresh {
    display: flex;
    justify-content: center;
}
#personajes {
    height: 110rem;
    width: 100%;
    padding: 6rem;
}
.btn-refresh {
    height: 4rem;
    width: 4rem;
}